<div class="text-center font-semibold">
  <% if @diary.errors.any? %>
    <% @diary.errors.full_messages.each do |message| %>
      <ul>
        <li class="py-1 px-10 text-rose-500 bg-rose-100">※<%= message %></li>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="bg-white shadow mx-auto my-8 p-6 w-8/12 rounded">
  <h1 class="font-semibold text-base">日記投稿</h1>
  <%= render "diaries/form", model: @diary %>
</div>
