@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: #262338;
  font-size: 14px;
  background-color: rgb(247, 247, 252);
}

a {
  color: #262338;
}

a:visited {
  color: #262338;
}

a:hover {
  color: #262338;
  font-weight: 700;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

h2 {
  padding-left: 30px;
}

p {
  margin-top: 0;
  line-height: 1.6;
}

img {
  vertical-align: bottom;
}

header {
  margin: 0 auto;
  padding: 0 15px;
  background-color: #f8b042;
}

header h1 {
  margin: 5px 0 10px;
}

#message p {
  color: white;
  background-color: #ec6a52;
  margin: 0;
  padding: 2px 15px;
}

#sidebar {
  width: 18%;
  background-color: white;
  border-right: 1px solid rgb(221, 220, 220);
}

#sidebar ul {
  position: fixed;
}

#sidebar ul li {
  display: block;
  max-width: 100%;
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #f8b042;
  margin-bottom: 0;
  color: white;
  padding: 10px 0;
}

.container_top {
  display: flex;
}

.created_at {
  color: rgb(124, 121, 121);
  padding-right: 15px;
}

.submit {
  background-color: #ec6a52;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}

.submit:hover {
  background-color: #f33311;
  color: white;
  font-weight: 700;
}

.avatar {
  padding-right: 15px;
}

.username {
  padding-right: 15px;
}

.english_diary {
  padding: 15px 0;
}

.diary_destroy_button {
  background-color: #ec6a52;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}

.diary_destroy_button:hover {
  background-color: #f33311;
  color: white;
  font-weight: 700;
}

.word_button {
  background-color: #ec6a52;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}

.word_button:hover {
  background-color: #f33311;
  color: white;
  font-weight: 700;
}

.correct_answers {
  font-size: 100px;
  text-align: center;
  color: #ec6a52;
}

.correct_answers span {
  padding: 15px;
  font-size: 35px;
  color: #262338;
}

.exam span {
  padding: 5px;
}

.result_links {
  list-style: none;
  padding-left: 15px;
}

.result_links li {
  padding-bottom: 15px;
}

.answers_list {
  padding: 15px;
}

.correct_answers_list {
  padding-bottom: 25px;
}

.wrong_answers_list {
  padding-bottom: 25px;
}

.answers_list h3 {
  border-bottom: 1px solid black;
}

.exam_area p {
  font-size: large;
  display: inline;
}

.exam_area span {
  font-size: larger;
  font-weight: bold;
  margin-right: 5px;
}

.exam_area .field {
  padding: 25px 0 35px 0;
}

.exam_start {
  margin: 100px 0 15px;
}

.correct_answers_list {
  display: flex;
}

.wrong_answers_list {
  display: flex;
}

.memo_field {
  padding-left: 35px;
}
