.avatar {
  padding-right: 15px;
}

.username {
  padding-right: 15px;
}

.english_diary {
  padding: 15px 0;
}

.diary_destroy_button {
  background-color: #ec6a52;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}
