h2 {
  padding-left: 30px;
}

.diary_container_top {
  display: flex;
  justify-content: space-between;
}

.created_at {
  color: rgb(124, 121, 121);
  padding-bottom: 15px;
}

.diary {
  background-color: white;
  padding: 15px 25px;
  margin: 25px 35px;
}

.english_diary {
  padding: 15px 0;
}

