.japanese_word {
  padding: 15px 0;
}

.english_word {
  padding-bottom: 15px;
}

.memo {
  padding-bottom: 15px;
}

.word_button {
  background-color: #ec6a52;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
}

.correct_answers {
  font-size: 75px;
  text-align: center;
  color: #ec6a52;
}

.correct_answers span {
  padding: 15px;
  font-size: 35px;
  color: #262338;
}

.exam span {
  padding: 5px;
}

.result_links {
  list-style: none;
  padding-left: 15px;
}

.result_links li {
  padding-bottom: 15px;
}

.answers_list {
  padding: 15px;
}

.correct_answers_list {
  padding-bottom: 25px;
}

.wrong_answers_list {
  padding-bottom: 25px;
}

.answers_list h3 {
  border-bottom: 1px solid black;
}

.exam_area p {
  font-size: large;
  display: inline;
}

.exam_area span {
  font-size: larger;
  font-weight: bold;
  margin-right: 5px;
}

.exam_area .field {
  padding: 25px 0 35px 0;
}

.exam_start {
  margin: 100px 0 15px;
}
