<div class="bg-white shadow mx-auto my-12 p-6 w-8/12 rounded">
  <h1 class="font-semibold text-3xl exam">単語テスト<span>10問</span></h1>
  <%= form_with model: @exam, url: exams_path do |f| %>
  <div class="exam_start field text-end">
    <%= f.submit "テスト開始", class:"submit" %>
  </div>
  <% end %>
</div>
