<div class="short_container">
  <div class="container">
    <h3 class="exam">単語テスト<span>10問</span></h3>
    <%= form_with model: @exam, url: exams_path do |f| %>
    <div class="exam_start field">
      <%= f.submit "テスト開始", class:"submit" %>
    </div>
    <% end %>
  </div>
</div>
