<div class="short_container">
  <div class="container">
    <h3>テスト結果</h3>
    <div class="field">
      <p class="correct_answers">
        10<span>問中</span><%= @correct_answers.size %><span>問正解</span>
      </p>
    </div>
  </div>
</div>
